<div class="card rounded-3 text-black">
    <div class="gradient-custom-2">
        <div class="card-body">
            <div class="text-center">
                <h4 class="mt-1 mb-5 pb-1">Systeme d’authentification</h4>
            </div>
            <br><br>
            <form [formGroup]="LoginForm" (ngSubmit)="OnFormLogin(usernameInpute.value, passwordInput.value)" class="form">
                <p>Please login to your account</p><br>
                <div *ngIf="errorMsg" class="error-message">{{errorMsg}}</div>
                <div class="form-outline mb-4" style="width: 430px;">
                    <input #usernameInpute id="form2Example11" class="form-control" type="username" placeholder="username"
                        formControlName="username" >
                    <label class="form-label" for="username">User Name</label>
                </div>
                <br>
                <div class="form-outline mb-4">
                    <input #passwordInput id="form2Example22" class="form-control" [type]="hide ? 'password' : 'text'"
                        placeholder="Password" formControlName="password">
                    <label class="form-label" for="form2Example22">Password</label>
                </div><br>
                <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" style="padding-left: 50px;" type="submit">Login</button>
                </div>

            </form>
        </div>
    </div>
</div>