<div
    style="background-image: url('../../../assets/images/back.jpg'); background-size: 100% 100%; display: flex; justify-content: space-between;">
    <img src="../../../assets/images/transparent-logo small.png" alt="" style="height: 720px">
    <div class="button-container">
        <b style="padding-right: 150px;">Application Spring Orientée service sécurisée: <br>  Gestion des profiles avec leurs droits</b>
        <button mat-raised-button (click)="openDialog('1000ms', '500ms')" *ngIf="!userInfo()" class="custom-button">
            Authentification
        </button>
    </div>
</div>
